<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jelani Thomas alpha Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="images" href="assets/images/" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap" rel="stylesheet">
</head>
<!-- Intro to page -->
<body>
    <header>
        <div class="container">
                <ul class="hyper-link">
                    <li id="home" style="float:left"><a class="active">JT</a></li>
                    <li><a href="#social media">social media</a></li>
                    <li><a href="#contact">contact</a></li>
                    <li><a href="#projects">projects</a></li>
                    <li><a href="#about">about</a></li>
                </ul>
        </div>
        <div class="masthead">     
            <video src="ScrollEarth.mp4" muted loop autoplay></video>
            <h1><span >Welcome,<br>
                I'm Jelani</span></h1>
                <h3>Innovative Full Stack Developer and Designer</h3>
        </div>
    </header>
<!-- Headshot with some info -->
    <main>
        <div class="container">
            <h1 class="section-tag" id="about">About</h1>
            <div class="about-the-author">
                <div class="row">
                  <div class="small-12 medium-4 columns">
                    <div class="author-image">
                      <img src="assets\images\ProfileShot.png">
                    </div>
                  </div>
                  <div class="small-12 medium-8 columns">
                    <h4 class="separator-left">Jelani Thomas</h4>
                    <p>Looking forward to meeting you. In the mean time check out my work.</p>
                  </div>
                </div>
              </div>     
        </div>
<!-- Project highlights -->
        <div class="container">
            <h1 class="section-tag" id="projects">Projects</h1>
            <div style="margin: 0;" class="work-feature-block row">
              <div class="columns medium-7">
                <img class="work-feature-block-image" src="assets/images/JustYourTeams.png" width="400" height="80">
              </div>
              <div class="columns medium-5">
                <h2 class="work-feature-block-header">Just Your Teams</h2>
                <p>Just Your Teams is a Web App that challenged myself and my team to build an application for a sports fan to have a customized feed of sports information for their preffered teams and sports.</p>
                <h2>Project Details</h2>
                <ul>
                  <li>Uses the SportsRadar API to pull information for all international sports</li>
                  <li>Features login authentication</li>
                  <li>HTML/CSS/JavaScript/Zurb Foundation used</li>
                  <li>Foundation really shines to show responsive of the application based on screen size and mobile accessibility</li>
                  <li><a href="https://murmuring-inlet-51880.herokuapp.com">Just Your Teams</a></li>
                  <li><a href="https://github.com/daveyrojo/just-your-teams">Just Your Teams GitHub Repo</a></li>
                </ul>
              </div>
          </div>
            <div style="margin: 0;" class="work-feature-block row">
                <div class="columns medium-7">
                  <img class="work-feature-block-image" src="assets/images/Coinmap.png" width="400" height="80">
                </div>
                <div class="columns medium-5">
                  <h2 class="work-feature-block-header">CoinFinder</h2>
                  <p>CoinFinder is a Web App that takes an address or location data and runs them through google's geolocation api, gets the coordinates of the user and then runs that - with a search radius to CoinMap api and then obtains the locations within that radius, runs those locations through Google's Places Api and displays the locations on a google map. Using the CoinMap data to list the nearest 10 locations to the user along with many more locations on the map</p>
                  <h2>Project Details</h2>
                  <ul>
                    <li>Uses location to find venues that transact with cryptocurreny</li>
                    <li>Google Maps and CoinMap APIs used</li>
                    <li>HTML/CSS/JavaScript/Zurb Foundation used</li>
                    <li>Finished phase 1 of developement</li>
                  <li><a href="https://daveyrojo.github.io/CoinFinder/">CoinFinder</a></li>
                  <li><a href="https://github.com/daveyrojo/CoinFinder">CoinFinder GitHub Repo</a></li>
                  </ul>
                </div>
            </div>
            <div style="margin: 0;" class="work-feature-block row">
                <div class="columns medium-7">
                  <img class="work-feature-block-image" src="assets\images\PwGen.png"/>
                </div>
                <div class="columns medium-5">
                  <h2 class="work-feature-block-header">Password Generator</h2>
                  <p>A  web-based password generator.</p>
                  <h2>Project Details</h2>
                  <ul>
                    <li>Generates a password based on what the user request based on prompts</li>
                    <li>Randomizes a password from 8 to 128 characters</li>
                    <li>Written prodoimantly using JavaScript</li>
                    <li><a href="https://gelonejt.github.io/pwGeneratorJS/" target="_blank">Pasword Generator</a></li>
                  <li><a href="https://github.com/GeloneJT/pwGeneratorJS">Password Generator GitHub Repo</a></li>
                  </ul>
                </div>
            </div>
            <div style="margin: 0;" class="work-feature-block row">
                <div class="columns medium-7">
                  <img class="work-feature-block-image" src="assets\images\WrkSchedu.png"/>
                </div>
                <div class="columns medium-5">
                  <h2 class="work-feature-block-header">Work Day Scheduler</h2>
                  <p>A web-based schedule track</p>
                  <h2>Project Details</h2>
                  <ul>
                    <li>Uses moment.js to track "real-time" time of day</li>
                    <li>User inputs a to-do task and localstorage keeps data that persists even on page refresh</li>
                    <li>The color of the each field change based on time of day ot indicate previous, current, and incoming time</li>
                    <li><a href="https://gelonejt.github.io/workDaySched2021/" target="_blank">Work Day Scheduler</a></li>
                    <li><a href="https://github.com/GeloneJT/workDaySched2021" target="_blank">Work Day Scheduler GitHub Repo</a></li>
                  </ul>
                </div>
            </div>
        </div>
<!-- Contact section -->
        <div class="container">
            <h1 class="section-tag" id="contact">Contact</h1>
            <div class="grid-x padding-x align-center">
                <form id="contact_me_form" method="" action="">
                    <input name="name" type="text" class="form-control" placeholder="Your Name" required><br>
                    <input name="email" type="email" class="form-control" placeholder="Your Email" required><br>
                    <textarea name="message" class="form-control" placeholder="A penny for your thoughts" rows="4"
                        required></textarea><br>
                    <input type="submit" class="form-control" value="SEND"><br>
                </form>
            </div>
        </div>
    </main>
<!-- Social media links -->
        <div class="container" id="social media">
            <ul class="hyper-link">
                <li><a href="https://github.com/GeloneJT" class="fa fa-github" target="_blank"> GITHUB</a></li>
                <li><a href="https://www.linkedin.com/in/jelani-thomas-19395b117/" class="fa fa-linkedin"
                        target="_blank"> LINKEDIN</a></li>
                <li><a href="https://open.spotify.com/user/12156463854" class="fa fa-spotify" target="_blank"> SPOTIFY</a>
                </li>
                <li style="float:left"><a href="#home">BACK TO TOP</a></li>
                </li>
                <li><a href="https://twitter.com/QuarterCircleF" class=" fa fa-twitter" target="_blank"> TWITTER</a></li>
                <li style="float: right;"><a href="tel:000-000-0000" class="fa fa-phone"> 000-000-0000</a></li>
            </ul>
        </div>
</body>


</html>